<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236334629405-nd703b72sf5nvcuuin46bm3mslb1v69i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236334629405-nd703b72sf5nvcuuin46bm3mslb1v69i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>236334629405-3hmt94aqpuhp5la2geda1tdle89mk3q8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfIOHOLtN6tsZjn19BZX4ypGL3X39jT00</string>
	<key>GCM_SENDER_ID</key>
	<string>236334629405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diet.manager</string>
	<key>PROJECT_ID</key>
	<string>diet-manager-bd75d</string>
	<key>STORAGE_BUCKET</key>
	<string>diet-manager-bd75d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236334629405:ios:01bfcef0c21a53b2033cf4</string>
	<key>DATABASE_URL</key>
	<string>https://diet-manager-bd75d.firebaseio.com</string>
</dict>
</plist>